 .viewParentDiv {
  padding-top: 7em;
  display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: aqua; */
  padding-left: 90px;
  padding-right: 110px;
}

 


.menuBar {
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  position: relative;
}

.menuBar .categoryMenu {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.menuBar .otherQuickOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 0.9rem;
  color: #333;
}
.menuBar .otherQuickOptions span {
  padding: 10px;
}





.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid rgb(78, 74, 74);
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 1em;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid rgb(78, 74, 74);
  border-radius: 4px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 10px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
} 


@media (max-width: 768px) {
  .viewParentDiv {
    flex-direction: column;
    align-items: center;
    padding: 1em 5%;
  }

  .viewParentDiv .imageShowDiv {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1em 0;
  }

  .viewParentDiv .imageShowDiv img {
    width: 80%;
    height: auto;
  }

  .viewParentDiv .rightSection {
    width: 100%;
    max-width: 100%;
    margin-top: 1em;
    padding: 1em 0;
  }
}